pandas is a pyhton library that is used to work with tabular data for cleaning and analysis

In [1]:
import pandas as pd
import numpy as np

In [ ]:
print(pd.__version__)

2.2.2

In [ ]:
data = {
    "course" : ["pyhton " , "cpp" , "java"],
    'mentor' : ["xyz" , "abc" , "pqj"]
}
newDataframe = pd.DataFrame(data)
print(newDataframe)

s = pd.Series(data)
print(s)

    course mentor
0  pyhton     xyz
1      cpp    abc
2     java    pqj
course    [pyhton , cpp, java]
mentor         [xyz, abc, pqj]
dtype: object

**series in pandas**

In [ ]:
s = pd.Series([1,2.2,3,4,5])
print(s)

0    1.0
1    2.2
2    3.0
3    4.0
4    5.0
dtype: float64

In [ ]:
s = pd.Series([1,2,3,4,5] , index = ['a' , 'b' , 'c' , 'd' , 'e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s = pd.Series([1,2,3,4,5,np.nan,6 ,7] , index = ['a', 'b' , 'c' , 'd' , 'e' , 'f' , 'g', 'h'])
print(s)
# if it don't know about the data then it convert it into floating value

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    6.0
h    7.0
dtype: float64

<ipython-input-35-e200c73cddd1>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0]

1.0

In [ ]:
value = s['b']
print(value)

2.0

In [ ]:

s = pd.Series(data , index= ["mentor"])
print(s)

mentor    [xyz, abc, pqj]
dtype: object

create a series from nd array (numpy)

In [ ]:
arr = np.array([1,2,3,4,5] )
s = pd.Series(arr , index = ['1', '2', '3', '4', '5'])
print(s)
print(type(s))

print(s[1])

1    1
2    2
3    3
4    4
5    5
dtype: int64
<class 'pandas.core.series.Series'>
2

<ipython-input-16-9b5435376608>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[1])

series fron scalar value

In [ ]:
series = pd.Series(5, index=[1,2,3,4,5,6,7,8,9]) # it will depend on the index that as many as you give the index the element will be increased
print(series)

1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64

In [ ]:
index = range(10)
series = pd.Series(5,index = index)
print(series)

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64

dataFrames

In [ ]:
data ={
    'product ' : ['laptop' , 'tablet' , 'mobile'],
    'price' : [1000 , 2000 , 3000]
}
df = pd.DataFrame(data , index=['a' , 'b' , 'c']) # by this way we can give custom index to the dataframes
print(df)

  product   price
a   laptop   1000
b   tablet   2000
c   mobile   3000

In [ ]:
arr = [['mango' , 'apple' , 'banana'], [100 , 200 , 300] , ['a' , 'b' , 'c']]
df = pd.DataFrame(arr)
print(df)

       0      1       2
0  mango  apple  banana
1    100    200     300
2      a      b       c

**dataframe using nd array**

In [ ]:
arr = np.array([['mango' , 'apple' , 'banana'], [100 , 200 , 300] , ['a' , 'b' , 'c']])
df = pd.DataFrame(arr)
print(df)
# 2d array

       0      1       2
0  mango  apple  banana
1    100    200     300
2      a      b       c

In [ ]:
arr = np.array([100,200,300])
df = pd.DataFrame(arr)
print(df)
# 1d array

     0
0  100
1  200
2  300

In [ ]:
# series to dataframes
s = pd.Series(['hello', 'hi', 'hey'])
df = pd.DataFrame(s)
print(df)

       0
0  hello
1     hi
2    hey

list of dictonary

In [ ]:
dataset = [
    {'course': 'python', 'fee': 10000 , 'mentor':'paras' , 'rating' : 5},
    {'course': 'cpp', 'fee': 20000 , 'mentor' : 'neha' , 'rating' : 4},
    {'course': 'java', 'fee': 30000 , 'mentor' : 'xyz'},
    {'course': 'javascript', 'fee': 30000 , 'mentor' : 'abc'}
]
df = pd.DataFrame(dataset)
print(df)

       course    fee mentor  rating
0      python  10000  paras     5.0
1         cpp  20000   neha     4.0
2        java  30000    xyz     NaN
3  javascript  30000    abc     NaN

In [ ]:
dataset ={
    "A" : 1.0,
    "B" : pd.Timestamp('20241102'),
    "C" : pd.Series(1, index=range(4),dtype=float),
    "D" : np.array([3] * 4 , dtype=int),
    "E" : pd.Categorical(['test', 'train', 'test', 'train']),
    "F" : 'foo'
}
df = pd.DataFrame(dataset)
print(df)

     A          B    C  D      E    F
0  1.0 2024-11-02  1.0  3   test  foo
1  1.0 2024-11-02  1.0  3  train  foo
2  1.0 2024-11-02  1.0  3   test  foo
3  1.0 2024-11-02  1.0  3  train  foo

In [ ]:
dataset = {
    "D" : np.array([3] * 4 , dtype=int),
}
df = pd.DataFrame(dataset)
print(df)

   D
0  3
1  3
2  3
3  3

In [ ]:
s = pd.Series(1, index = [1,2,3,4])
print(s)

1    1
2    1
3    1
4    1
dtype: int64

coping the dataframe

In [ ]:
dataset = [
    {'course': 'python', 'fee': 10000 , 'mentor':'paras' , 'rating' : 5},
    {'course': 'cpp', 'fee': 20000 , 'mentor' : 'neha' , 'rating' : 4},
    {'course': 'java', 'fee': 30000 , 'mentor' : 'xyz'},
    {'course': 'javascript', 'fee': 30000 , 'mentor' : 'abc'}
]

df = pd.DataFrame(dataset)
newdf = df[['course', 'fee']].copy()
print(newdf)

       course    fee
0      python  10000
1         cpp  20000
2        java  30000
3  javascript  30000

to drop the particular cloumn

In [ ]:
dataset = [
    {'course': 'python', 'fee': 10000 , 'mentor':'paras' , 'rating' : 5},
    {'course': 'cpp', 'fee': 20000 , 'mentor' : 'neha' , 'rating' : 4},
    {'course': 'java', 'fee': 30000 , 'mentor' : 'xyz'},
    {'course': 'javascript', 'fee': 30000 , 'mentor' : 'abc'}
]

df = pd.DataFrame(dataset)
df.drop('rating', axis = 1, inplace = True)
print(df)

       course    fee mentor
0      python  10000  paras
1         cpp  20000   neha
2        java  30000    xyz
3  javascript  30000    abc

In [ ]:
dataset = [
    {'course': 'python', 'fee': 10000 , 'mentor':'paras' , 'rating' : 5},
    {'course': 'cpp', 'fee': 20000 , 'mentor' : 'neha' , 'rating' : 4},
    {'course': 'java', 'fee': 30000 , 'mentor' : 'xyz'},
    {'course': 'javascript', 'fee': 30000 , 'mentor' : 'abc'}
]

df = pd.DataFrame(dataset)
df.drop(1, axis = 0, inplace = True) # inplace to change in the original dataFrame
print(df)

       course    fee mentor  rating
0      python  10000  paras     5.0
2        java  30000    xyz     NaN
3  javascript  30000    abc     NaN

In [ ]:
dataset = [
    {'course': 'python', 'fee': 10000 , 'mentor':'paras' , 'rating' : 5},
    {'course': 'cpp', 'fee': 20000 , 'mentor' : 'neha' , 'rating' : 4},
    {'course': 'java', 'fee': 30000 , 'mentor' : 'xyz'},
    {'course': 'javascript', 'fee': 30000 , 'mentor' : 'abc'}
]
df = pd.DataFrame(dataset)
newdf = df.drop('rating', axis = 1)
print(newdf)
print(df)

       course    fee mentor
0      python  10000  paras
1         cpp  20000   neha
2        java  30000    xyz
3  javascript  30000    abc
       course    fee mentor  rating
0      python  10000  paras     5.0
1         cpp  20000   neha     4.0
2        java  30000    xyz     NaN
3  javascript  30000    abc     NaN

In [ ]:
dataset = [
    {'course': 'python', 'fee': 10000 , 'mentor':'paras' , 'rating' : 5},
    {'course': 'cpp', 'fee': 20000 , 'mentor' : 'neha' , 'rating' : 4},
    {'course': 'java', 'fee': 30000 , 'mentor' : 'xyz'},
    {'course': 'javascript', 'fee': 30000 , 'mentor' : 'abc'}
]
df = pd.DataFrame(dataset)
newdf = df.drop(df.index[1])
print(df)
print(newdf)

       course    fee mentor  rating
0      python  10000  paras     5.0
1         cpp  20000   neha     4.0
2        java  30000    xyz     NaN
3  javascript  30000    abc     NaN
       course    fee mentor  rating
0      python  10000  paras     5.0
2        java  30000    xyz     NaN
3  javascript  30000    abc     NaN

In [ ]:
result = pd.date_range('20241101' , periods = 6)
print(result)

df = pd.DataFrame(np.random.randn(6,4) , index = result , columns = list('abcd'))
print(df)

DatetimeIndex(['2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04',
               '2024-11-05', '2024-11-06'],
              dtype='datetime64[ns]', freq='D')
                   a         b         c         d
2024-11-01  0.543357 -1.234965  0.878567 -0.871748
2024-11-02 -1.695998  0.827924 -0.012911 -1.492318
2024-11-03  0.737267  0.467401 -1.359924  1.065882
2024-11-04 -0.328751 -0.324842  0.472167  0.864891
2024-11-05 -0.396679 -1.360684  0.639144  1.354917
2024-11-06 -1.698406  0.476603 -1.010017 -1.241852

In [ ]:
data ={
    'product ' : ['laptop' , 'tablet' , 'mobile'],
    'price' : [1000 , 2000 , 3000]
}
df = pd.DataFrame(data)
max = df['price'].max()
# max = df['price'].min()
# max = df['price'].mean()
# max = df['price'].median()
# max = df['price'].mode()

print(max)

3000

add the value by the number

In [ ]:
dataframe = pd.DataFrame({
    'teamA' : [10,20,30],
    'teamB' : [40,50,60],
    'teamC' : [70,80,90]
})
newdf = dataframe.add(10) # each value will be added by 10
print(dataframe)
print(newdf)

   teamA  teamB  teamC
0     10     40     70
1     20     50     80
2     30     60     90
   teamA  teamB  teamC
0     20     50     80
1     30     60     90
2     40     70    100

concat 2 data frames

In [ ]:
df = pd.DataFrame({
    "A": [1,2,3],
    "B": [4,5,6],
    "C": [7,8,9]
})
df2 = pd.DataFrame({
    "A": [10,20,30],
    "B": [40,50,60],
    "C": [70,80,90]
})

newdf = pd.concat([df,df2])
print(newdf)

    A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  10  40  70
4  20  50  80
5  30  60  90

In [ ]:
df = pd.DataFrame({
    "A": [1,2,3],
    "B": [4,5,6],
    "C": [7,8,9]
})
df2 = pd.DataFrame({
    "A": [10,20,30],
    "B": [40,50,60],
    "C": [70,80,90]
})

newdf = pd.concat([df,df2] , ignore_index = True) # ignore_index will ignore the index
print(newdf)

    A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  10  40  70
4  20  50  80
5  30  60  90

In [ ]:
df = pd.DataFrame({
    "A": [1,2,3],
    "B": [4,5,6],
    "C": [7,8,9]
})
df2 = pd.DataFrame({
    "A": [10,20,30],
    "B": [40,50,60],
    "C": [70,80,90]
})
newdf = pd.concat([df,df2] , keys = ['k1', 'k2']) # it will seprate the index where the second dataframe is concat
print(newdf)

newdf.head() # to print the data in good formate

       A   B   C
k1 0   1   4   7
   1   2   5   8
   2   3   6   9
k2 0  10  40  70
   1  20  50  80
   2  30  60  90

       A   B   C
k1 0   1   4   7
   1   2   5   8
   2   3   6   9
k2 0  10  40  70
   1  20  50  80

adding name of the colunm

In [ ]:
df = pd.DataFrame([['a', 1],['b', 2]])
df2 = pd.DataFrame([['c', 3],['d', 4]])

newdf = pd.concat([df,df2] , ignore_index = True , names= ['first ' , 'second'])
print(newdf)

   0  1
0  a  1
1  b  2
2  c  3
3  d  4

add column to the dataframe

In [ ]:
df = pd.DataFrame({
    "A": [1,2,3],
    "B": [4,5,6],
    "C": [7,8,9]
})
df["D"] = [10,20,30]
print(df)

   A  B  C   d
0  1  4  7  10
1  2  5  8  20
2  3  6  9  30

**data cleaning**

In [ ]:
data ={
    'name' : ['paras' , 'neha', 'rohit', np.nan, 'harshit',np.nan],
    'age' : [23,22,23,np.nan,22, np.nan],
    'city': ['ramnagar', 'lodh', 'perumadar', 'ramnagar',np.nan, np.nan]
}
df = pd.DataFrame(data)
# print(df)
df.head()

      name   age       city
0    paras  23.0   ramnagar
1     neha  22.0       lodh
2    rohit  23.0  perumadar
3      NaN   NaN   ramnagar
4  harshit  22.0        NaN

to find the nill value in the dataframe

In [ ]:
print(df.isnull()) # it will return true if the value is null

    name    age   city
0  False  False  False
1  False  False  False
2  False  False  False
3   True   True  False
4  False  False   True

In [ ]:
print(df.isnull().sum()) # it will return the count of null in every column in the dataframe

name    1
age     1
city    1
dtype: int64

In [ ]:
print(df.isnull().sum().sum()) # it will return the total count of null in the dataframe

3

ways to clean the data

1. to remove the NaN(empty data) form dataframe.

In [ ]:
newdf = df.dropna()
print(newdf)

    name   age       city
0  paras  23.0   ramnagar
1   neha  22.0       lodh
2  rohit  23.0  perumadar

In [96]:
data ={
    'name' : ['paras' , 'neha', 'rohit', 'paras', 'harshit',np.nan],
    'age' : [23,22,23,23,22, np.nan],
    'city': ['ramnagar', 'lodh', 'perumadar', 'ramnagar',np.nan, np.nan]
}
df = pd.DataFrame(data)
df.head()

      name   age       city
0    paras  23.0   ramnagar
1     neha  22.0       lodh
2    rohit  23.0  perumadar
3    paras  23.0   ramnagar
4  harshit  22.0        NaN

In [87]:
# to perfom operation in the dataframe

newdf = df.copy()
newdf['age'].fillna(df['age'].mean(), inplace = True)
print(newdf)

      name   age       city
0    paras  23.0   ramnagar
1     neha  22.0       lodh
2    rohit  23.0  perumadar
3      NaN  22.5   ramnagar
4  harshit  22.0        NaN
5      NaN  22.5        NaN

<ipython-input-87-77acdd07f5e9>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  newdf['age'].fillna(df['age'].mean(), inplace = True)

remove dupliacate value in the dataframe


note: if all the column are same then it will call duplicate then you can drop it

In [99]:
# df.head()
df.duplicated()
newdf = df.drop_duplicates()
print(newdf)

      name   age       city
0    paras  23.0   ramnagar
1     neha  22.0       lodh
2    rohit  23.0  perumadar
4  harshit  22.0        NaN
5      NaN   NaN        NaN

remane the colunm

In [101]:
newdf = df.rename(columns = {'name': 'full name' , 'age' : 'new age', 'city' : 'residance city'})
print(newdf)

  full name  new age residance city
0     paras     23.0       ramnagar
1      neha     22.0           lodh
2     rohit     23.0      perumadar
3     paras     23.0       ramnagar
4   harshit     22.0            NaN
5       NaN      NaN            NaN

data standarsation : we make all data to the same formate (upper case, lower case) that can easily be used so error could not be occured

In [103]:
newdf = df.copy()
newdf['name'] = newdf['name'].str.upper()
print(newdf)

      name   age       city
0    PARAS  23.0   ramnagar
1     NEHA  22.0       lodh
2    ROHIT  23.0  perumadar
3    PARAS  23.0   ramnagar
4  HARSHIT  22.0        NaN
5      NaN   NaN        NaN

applying user define funciton

In [109]:
def increment(x):
  return x + 5

data = [(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16)]
df = pd.DataFrame(data , columns = list('abcd'))
print(df)
newdf = df.apply(increment)
print(newdf)

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
    a   b   c   d
0   6   7   8   9
1  10  11  12  13
2  14  15  16  17
3  18  19  20  21

if you want to give more argument

In [115]:
def increment(x,y,z):
  return x+y+z

data = [(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16)]
df =pd.DataFrame(data, columns = list('PQRS'))
print(df)

# newdf = df.apply(increment,y = 5)
newdf = df.apply(increment, args = [10,10])
print(newdf)

    P   Q   R   S
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
    P   Q   R   S
0  21  22  23  24
1  25  26  27  28
2  29  30  31  32
3  33  34  35  36

loc is used to slice the data from the dataframe (particular information)

In [51]:
df = pd.DataFrame({'Weight': [45, 88, 56, 15, 71],
                   'Name': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age': [14, 25, 55, 8, 21]})

# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
df.index = index_
print(df)

print("-----------")
# print(df.loc['Row_1','Age'])
# print(df.loc['Row_1', 'Name'])
result = df.loc[:,['Name','Age']] # to print all the indexes(the colen will print all the indexes in the dataframe)
result = df.loc[['Row_1','Row_2'],:] # the colen in the last will print all the columns
result = df.loc[['Row_1','Row_2'],['Name','Age']] # by this way we can select which row and column we want and we will make a list of it

result = df.loc[['Row_1',"Row_5"], ['Name', 'Age']]
print(result)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21
-----------
      Name  Age
Row_1  Sam   14
Row_5  Kia   21

In [63]:
# print(df)
result = df.iloc[0:2,::2] # it will print alternate columns (it will skip that one)
print(result)

       Weight  Age
Row_1      45   14
Row_2      88   25

Using Conditions with Pandas loc

In [67]:
print(df)
result = df.loc[df['Weight']>45]
print(result)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21
       Weight    Name  Age
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_5      71     Kia   21